# Django
DJANGO_SECRET_KEY=your-secret-key
DEBUG=True

# Database
DB_NAME=auto_manage_db
DB_USER=postgres
DB_PASSWORD=your_password
DB_HOST=localhost
DB_PORT=5432

# Frontend
APP_URL=http://localhost:4200

# AI Agent Configuration
GEMINI_API_KEY=
